* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: normal;
}

.calculator {
  width: 400px;
  background-color: black;
  margin: 0 auto; /* centers horizontally */
}

.display {
  padding: 30px 10px;
  text-align: right;
  color: white;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0px;
  row-gap: 0px;
}

.row:last-child {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.button {
  background-color: #d8d9db;
  color: black;
  height: 100px;
  border: 1px solid;
  border-radius: 0;
  font-size: 30px;
  font-weight: normal;
  cursor: pointer; /* cursor style */
}

.button:hover {
  background-color: #ebebeb;
}

.button:active {
  background-color: #bbbcbe;
}

.button:last-child {
  background-color: #ffa500;
}

.button:last-child:hover {
  background-color: #e17e13;
}

.button:last-child:active {
  background-color: #fec14e;
}
